<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<h1>Add Employee</h1>
<form action = "/add_emp" method = "post">
          {% csrf_token %}
        <label for ="first_name">First Name</label></br>
        <input type="text" name="first_name" value ="{{first_name}}"></br>
        <label for ="last_name">Last Name</label></br>
        <input type="text" name ="last_name" value ="{{last_name}}"></br>
        <label for= "dept">Dept.</label></br>
        <input type="text" name = "dept" value ="{{dept}}"></br>
        <label for ="salary">Salary</label></br>
        <input type="text" name= "salary" value ="{{salary}}"></br>
        <label for ="bonus">Bonus</label></br>
        <input type="text" name = "bonus" value ="{{bonous}}"></br>
        <label for ="role">Role</label></br>
        <input type="text" name = "role"  value ="{{role}}"></br>
        <label for ="phone">Phone Number</label></br>
        <input type="text" name = "phone"  value ="{{phone}}"></br>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>